body {
	background-color: #f9f7f7;
	font-family: 'Open Sans', sans-serif;
}

thead {
	background-color: #112d4e;
}

.jumbotron {
	max-height: 150px;
	background-color: #3f72af;
	font-family: 'PT Sans', sans-serif;
}

.statusButton {
	width: 60px;
}

#newTaskButton {
	background-color: #3f72af;
}

#taskTable {
	background-color: #dbe2ef;
}
